{% extends "master.html" %}

{% block title %}
     - Novo Membro
{% endblock %}


{% block content %}
    <div class='card mt-2'>
      <div class="card-header text-center"> 
        <h3> Listagem de Membros do My Tennis Club </h3>
      </div>
        <div class="card-body">
            <form action="addrecord/" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="first-name">First Name:</label>
                  <input type="text" class="form-control" id="first-name" name="first">
                </div>
                <div class="form-group">
                  <label for="last-name">Last Name:</label>
                  <input type="text" class="form-control" id="last-name" name="last">
                </div>
                <div class="form-group">
                  <label for="phone">Telefone:</label>
                  <input type="text" class="form-control" id="phone" name="phone">
                </div>
                <br><button type="submit" class="btn btn-primary">Adicionar</button>
              </form>
              
            <br><p><a class="btn btn-secondary" href="/members">Voltar</a></p>
        </div>
    </div>   
{% endblock %}  