{% extends "master.html" %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}


{% block content %}

<div class="card mt-2">

  <div class="card-header"> 
    Membros
  </div>

  <div class="card-body">
    <ul class="list-group">
    {% for x in mymembers %}
      <li class="list-group-item">
        <a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a>
        <a href="delete/{{x.id }}" class="ms-2 btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
        <a href="update/{{x.id }}" class="ms-2 btn btn-info"><i class="fa-solid fa-pen"></i></a>
      </li>
      {% endfor %}
    </ul>

    <br><a href="add/" class="btn btn-primary">Adiciona novo membro</a>
  </div>
  
</div>

{% endblock %}