{% extends "master.html" %}

{% block title %}
    My Tennis Club
{% endblock %}


{% block content %}
<div class='card mt-2'>
    <div class='card-header text-center'>
        <h3>Bem vindo!</h3> 
    </div>  
    
    <div class="card-body">
        <p>Nosso site é dedicado aos amantes do tênis, sejam você um iniciante entusiasmado ou um jogador 
            experiente. Aqui, você encontrará tudo o que precisa para aproveitar ao máximo o seu tempo nas 
            quadras. Navegue por nossos recursos abrangentes, fique por dentro das últimas notícias e descubra 
            dicas valiosas para melhorar seu jogo. Estamos comprometidos em criar uma comunidade vibrante e 
            apaixonada pelo tênis, onde você pode se conectar com outros entusiastas, agendar partidas, 
            encontrar parceiros de jogo e participar de eventos emocionantes. Junte-se a nós e faça parte 
            dessa incrível jornada tenística!</p>
        <p>No My Club Tennis, nossa missão é fornecer a você uma experiência única e gratificante. 
            Além de informações úteis sobre técnicas, estratégias e equipamentos, oferecemos conteúdo envolvente, 
            como entrevistas com jogadores profissionais, cobertura de torneios emocionantes e análises 
            especializadas. Queremos que você se sinta inspirado e motivado a aprimorar suas habilidades, 
            atingir novos objetivos e vivenciar a emoção do tênis em sua plenitude. Explore nosso site, 
            participe das discussões na comunidade e aproveite ao máximo a paixão compartilhada pelo tênis. 
            Estamos empolgados em ter você aqui e esperamos que você desfrute de tudo o que o My Club Tennis 
            tem a oferecer!</p>
    </div> 
</div> 
{% endblock %}  